<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href = "https://bootswatch.com/4/cerulean/bootstrap.min.css"/>
        {% endblock %}
    </head>
    <body>
        {{ include('navbar.html.twig') }}
        <div class = "container">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        {% endblock %}
    </body>
</html>
