<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/JobSearch/public" class="navbar-brand">Job Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/JobSearch/public" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/JobSearch/public/search" class="nav-link">Search</a>
            </li>
            <li class="nav-item">
                <a href="/JobSearch/public/charts" class="nav-link">Charts</a>
            </li>
            <li class="nav-item">
                <a href="/JobSearch/public/stats" class="nav-link">Stats</a>
            </li>
        </ul>
    </div>
    </div>
</nav>